#navbar{
  margin-left: 10%;
}

#navbar-button{
  margin-right: 10%;
}

.dot-spin {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: transparent;
  box-shadow: 0 -18px 0 0 #fd7e14, 12.72984px -12.72984px 0 0 #fd7e14, 18px 0 0 0 #fd7e14, 12.72984px 12.72984px 0 0 rgba(253, 126, 20, 0), 0 18px 0 0 rgba(253, 126, 20, 0), -12.72984px 12.72984px 0 0 rgba(253, 126, 20, 0), -18px 0 0 0 rgba(253, 126, 20, 0), -12.72984px -12.72984px 0 0 rgba(253, 126, 20, 0);
  animation: dotSpin 1.5s infinite linear;
}

@keyframes dotSpin {
  0%,
  100% {
    box-shadow: 0 -18px 0 0 #fd7e14, 12.72984px -12.72984px 0 0 #fd7e14, 18px 0 0 0 #fd7e14, 12.72984px 12.72984px 0 -5px rgba(253, 126, 20, 0), 0 18px 0 -5px rgba(253, 126, 20, 0), -12.72984px 12.72984px 0 -5px rgba(253, 126, 20, 0), -18px 0 0 -5px rgba(253, 126, 20, 0), -12.72984px -12.72984px 0 -5px rgba(253, 126, 20, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rrgba(253, 126, 20, 0), 12.72984px -12.72984px 0 0 #fd7e14, 18px 0 0 0 #fd7e14, 12.72984px 12.72984px 0 0 #fd7e14, 0 18px 0 -5px rgba(253, 126, 20, 0), -12.72984px 12.72984px 0 -5px rgba(253, 126, 20, 0), -18px 0 0 -5px rgba(253, 126, 20, 0), -12.72984px -12.72984px 0 -5px rgba(253, 126, 20, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(253, 126, 20, 0), 12.72984px -12.72984px 0 -5px rgba(253, 126, 20, 0), 18px 0 0 0 #fd7e14, 12.72984px 12.72984px 0 0 #fd7e14, 0 18px 0 0 #fd7e14, -12.72984px 12.72984px 0 -5px rgba(253, 126, 20, 0), -18px 0 0 -5px rgba(253, 126, 20, 0), -12.72984px -12.72984px 0 -5px rgba(253, 126, 20, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(253, 126, 20, 0), 12.72984px -12.72984px 0 -5px rgba(253, 126, 20, 0), 18px 0 0 -5px rgba(253, 126, 20, 0), 12.72984px 12.72984px 0 0 #fd7e14, 0 18px 0 0 #fd7e14, -12.72984px 12.72984px 0 0 #fd7e14, -18px 0 0 -5px rgba(253, 126, 20, 0), -12.72984px -12.72984px 0 -5px rgba(253, 126, 20, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(253, 126, 20, 0), 12.72984px -12.72984px 0 -5px rgba(253, 126, 20, 0), 18px 0 0 -5px rgba(253, 126, 20, 0), 12.72984px 12.72984px 0 -5px rgba(253, 126, 20, 0), 0 18px 0 0 #fd7e14, -12.72984px 12.72984px 0 0 #fd7e14, -18px 0 0 0 #fd7e14, -12.72984px -12.72984px 0 -5px rgba(253, 126, 20, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(253, 126, 20, 0), 12.72984px -12.72984px 0 -5px rgba(253, 126, 20, 0), 18px 0 0 -5px rgba(253, 126, 20, 0), 12.72984px 12.72984px 0 -5px rgba(253, 126, 20, 0), 0 18px 0 -5px rgba(253, 126, 20, 0), -12.72984px 12.72984px 0 0 #fd7e14, -18px 0 0 0 #fd7e14, -12.72984px -12.72984px 0 0 #fd7e14;
  }
  75% {
    box-shadow: 0 -18px 0 0 #fd7e14, 12.72984px -12.72984px 0 -5px rgba(253, 126, 20, 0), 18px 0 0 -5px rgba(253, 126, 20, 0), 12.72984px 12.72984px 0 -5px rgba(253, 126, 20, 0), 0 18px 0 -5px rgba(253, 126, 20, 0), -12.72984px 12.72984px 0 -5px rgba(253, 126, 20, 0), -18px 0 0 0 #fd7e14, -12.72984px -12.72984px 0 0 #fd7e14;
  }
  87.5% {
    box-shadow: 0 -18px 0 0 #fd7e14, 12.72984px -12.72984px 0 0 #fd7e14, 18px 0 0 -5px rgba(253, 126, 20, 0), 12.72984px 12.72984px 0 -5px rgba(253, 126, 20, 0), 0 18px 0 -5px rgba(253, 126, 20, 0), -12.72984px 12.72984px 0 -5px rgba(253, 126, 20, 0), -18px 0 0 -5px rgba(253, 126, 20, 0), -12.72984px -12.72984px 0 0 #fd7e14;
  }
}

